body {
  font-family: "Roboto Mono", monospace;
  margin-top: 45px;
}
h1 {
  font-family: "Roboto Mono", monospace;
  text-align: left;
  margin: 25px 60px 0px;
  color: rgb(51, 53, 125);
  font-weight: 800;
  font-size: 56px;
}

#temperature {
  text-align: center;
  color: rgb(58, 60, 128);
  font-size: 62px;
  font-weight: 375;
  margin-left: -150px;
  margin-top: 25px;
}
.units {
  font-size: 18px;
  font-weight: 390;
  position: relative;
  left: 225px;
  right: -50px;
  top: -77px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-border {
  max-width: 650px;
  margin: 20px auto;
}

.weather-app {
  border: 1px solid;
  padding: 15px;
  border-radius: 10px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(137, 210, 253) 0%,
    rgb(255, 241, 188) 90%
  );
}

#current-weather {
  font-size: 12px;
  color: rgb(43, 48, 145);
  list-style: none;
  position: relative;
  top: -55px;
  margin: 0px auto;
  left: 70px;
  font-weight: 275;
}

#current-date {
  color: rgb(125, 163, 217);
  font-size: 14px;
  list-style: none;
  float: right;
  position: relative;
  bottom: 76px;
  right: 49px;
}

#icon {
  position: relative;
  top: -66px;
  bottom: 43px;
  left: 250px;
  right: 20px;
  margin: auto;
}

#description {
  font-weight: 325;
  margin-bottom: 0px auto;
  font-size: 18px;
  color: rgb(43, 48, 145);
}

.weather-forecast {
  text-align: center;
  color: rgb(51, 53, 125);
  margin-bottom: 25px;
  margin-top: auto;
}

.weather-forecast-day {
  font-size: 15px;
  opacity: 0.8;
}

.weather-forecast-temperatures {
  font-size: 13px;
  color: rgb(43, 48, 145);
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

